body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
}

button {
    margin: 0;
    border: 0;
}

.container {
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}