.logo {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.174;
    color: black;
    padding-top: 16px;
    padding-bottom: 15px;
    letter-spacing: 0.03em;

    &__web {
        color: var(--secondary-color);
    }

    &--footer {
        display: block;
        color: white;
        padding: 0;
        margin-bottom: 20px;
    }
}

// TABLET

@media screen and (min-width: 768px) {
    .logo {
        padding-top: 26px;
        padding-bottom: 25px;
        margin-right: 88px;
    }

    .logo--footer {
        margin-right: 0;
        padding: 0;
        
    }
}

// DESKTOP 

// .logo {
//     font-family: raleway, sans-serif;
//     font-weight: 700;
//     font-size: 24px;
//     line-height: 1.174;
//     color: black;
//     padding-top: 26px;
//     padding-bottom: 25px;
//     letter-spacing: 0.03em;
//     margin-right: 93px;

//     &__web {
//         color: var(--secondary-color);
//     }

//     &--footer {
//         display: block;
//         color: white;
//         padding: 0;
//         margin-bottom: 20px;
//     }
// }