.test {
    display: flex;
    justify-content: space-between;
    background-color: navajowhite;
    gap: 30px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    

    @media screen and (min-width: 480px) {
            width: 480px;
            justify-content: space-between;
            background-color: aliceblue;
        }
}

.logo-test {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: black;
    padding-top: 24px;
    padding-bottom: 24px;
    letter-spacing: 0.03em;}

.test-list {
    @media screen and (max-width: 480px) {
        display: none;
    }
}

.test-item {}

.test-link {}

.test-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 40px;
}

.test-icon {}

// FLEX

.flex-list {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex-basis: calc((100% - 30px) / 2);
}

.flex-title {}

.flex-info {}

.test-title {
    display: flex;
    justify-content: center;
}